.page {
    width: 210mm;
    height: 297mm;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: grid;
}
.sidebar {
    width: 30%;
    min-width: 30%;
    height: inherit;
    background-color:#252525;
    margin-left: auto;
    margin-right: 0;
}
.header-color {
    color:#252525;
}
.main-content {
}
.wrapper { 
    /* 
    Main Content on the left & sidebar on the right.
    Change flex-direction to row for "vice versa"
    */
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4%;
}
.text-wrap {
    padding-right: 5%;
}
.borderline-spacer {
    vertical-align: bottom;
    padding-bottom: 1%;
    font-weight: 600;
    border: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0.75mm;
    border-style: solid;
    border-color: black;
    margin-right: 5%;

}
.bold-head {
    font-weight: 600;
    font-size: large;
    vertical-align: bottom;
    padding-right: 6%;
}
.title-aligner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.not-modified {
    background-color: rgb(187, 201, 120);
}

p, .borderline-spacer, h3,h4 {
    color: black
}
