:root {
    /* Set page-size to DIN A4 standard */
    --page-width: 210mm;
    --page-height: 297mm;
    --page-color: white;

    /*  Sidebar related variables */
    --sidebar-size: 30%;
    --sidebar-color: #252525;
    --sidebar-text-color: #ddd;

    --normal-text-color: black;
}
body {
    background-color: #342424;
    font-family: monospace;
}

a, p, h3, h4 {
    color: var(--normal-text-color);
}

div {
    line-height: .85;
}
a, p {
    line-height: 1;
}

.page {
    width: var(--page-width);
    height: var(--page-height);
    background-color:var(--page-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: grid;
}

.sidebar {
    width: var(--sidebar-size);
    min-width: var(--sidebar-size);
    height: inherit;
    background-color: var(--sidebar-color);
    margin-left: auto;
    margin-right: 0;
    height: 100%;
}

.sidebar-text-color {
    color: var(--sidebar-text-color);
    border-color: var(--sidebar-text-color);
    
}

.main-content {
    margin-top:3%;
}
.wrapper { 
    /* 
    Main Content on the left & sidebar on the right.
    Change flex-direction to row for "vice versa"
    */
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4%;
}

.text-wrap {
    padding-right: 5%;
}

.borderline-spacer {
    vertical-align: bottom;
    padding-bottom: 1%;
    
    border: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0.75mm;
    border-style: solid;
    border-color: black;
    margin-right: 5%;

}

.borderline-spacer-sidebar {
    vertical-align: bottom;
    padding-bottom: 1%;
    margin-left: 4%;
    border: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0.75mm;
    border-style: solid;
    border-color: white;
    margin-right: 5%;

}

.sidebar-text {
    color: #dddd;
    margin-left: 4%;
}

/* Hey you found me 🦆*/
.text-header-relocate {
    padding-right: 6%;
}

.bold-head {
    font-weight: 600;
}

.title-aligner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

#profile-and-header-align {
    display: flex;
    flex-direction: row;

}

@media print {
    body {
        background: none;
        padding: 0;
        margin: 0;
    }
    .page {
        box-shadow: none;
        margin: 0;
        width: var(--page-width);
        height: var(--page-height);
    }
    @page {
        size: A4;
        margin: 0;
    }
}